<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header">
    <meta charset="UTF-8" />
    <title>Index page</title>
</head>
<body>

<div th:replace="partials/layout :: navbar" />
<div class="h-100 main-container  mx-auto w-100 text-center">
    This is the players index file.
    <a th:href="@{/player/add}">Add new player</a>

    <h4>Players Stored</h4>

    <div th:each="player : ${players}">
        <span th:text="${player.getName()}"></span>
        <span th:text="${player.displayGender()}"></span>
        <span th:text="${player.firstJob()}"></span>
    </div>

</div>

<div th:replace="partials/layout :: footer" />
<script th:src="@{~/built/main.js}"></script>
</body>
</html>