<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>XIV Gear Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0-beta/css/bootstrap-select.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" th:href="@{~/css/global.css}">
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img th:src="@{~/img/quest/Mob8_Icon.png}"/>
          
            <img src="#" width="30" height="30" class="d-inline-block align-top" alt="">
            XIV Gear Planner
        </a>

     <div sec:authorize="isAuthenticated()">
                    <img th:src="@{~/img/online.png}"> <span th:text="${#authentication.principal.username}"/>!
     </div>

    <div sec:authorize="!isAuthenticated()">
           <a th:href="@{/login}">
                <img th:src="@{~/img/disconnect.png}">       
           </a>
    </div>

</nav>

<!-- Footer -->
<footer  th:fragment="footer">

    <div class="footer-spacer"></div>

    <nav class="navbar fixed-bottom navbar-light bg-light">
        <a class="navbar-brand" href="#">Created by Dane Miller (Faiyt Lee on Exodus)</a>
    </nav>

    <!--JS Files -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0-beta/js/bootstrap-select.min.js"></script>

    <script th:src="@{~/built/main.js}"></script>
</footer>




</body>
</html>