<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>XIV Gear Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0-beta/css/bootstrap-select.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />

    <link rel="stylesheet" th:href="@{~/css/global.css}">
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img th:src="@{~/img/quest/Mob8_Icon.png}"/>
          
            <img src="#" width="30" height="30" class="d-inline-block align-top" alt="">
            XIV Gear Planner
        </a>

    <div class="btn-group text-right">
        <button class="btn btn-secondary btn-sm" type="button">
            <div sec:authorize="isAuthenticated()">
                <img th:src="@{~/img/online.png}">

                <span th:text="${#authentication.principal.profile.firstName}"/>
                <th:block th:if="${currentUserConnection == null}" >
                <!--<span th:text="${#authentication.principal.username}"/>-->
                </th:block>

                <th:block th:unless="${currentUserConnection == null}" >


                   <a th:if="${currentUserConnection.providerId == 'facebook'}" class="ml btn btn-social-icon btn-sm btn-facebook">   <i class="fa fa-facebook"></i></a>
                    <a th:if="${currentUserConnection.providerId == 'twitter'}"  class="ml btn btn-social-icon btn-sm btn-twitter">    <i class="fa fa-twitter"></i></a>
                    <a th:if="${currentUserConnection.providerId == 'github'}"   class="ml btn btn-social-icon btn-sm btn-github">     <i class="fa fa-github"></i></a>
                    <a th:if="${currentUserConnection.providerId == 'google'}"   class="ml btn btn-social-icon btn-sm btn-google-plus"><i class="fa fa-google-plus"></i></a>

                    as <a th:href="${currentUserConnection.profileUrl}" class="navbar-link"><span th:text="${currentUserDisplayName}"/></a>
                    <img th:src="${currentUserConnection.imageUrl}" width="32" height="32" />
                </th:block>





            </div>

            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}">
                    <img th:src="@{~/img/disconnect.png}">
                </a>
            </div>

        </button>
        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" th:href="@{~/static/view}">My Static</a>
            <a class="dropdown-item" th:href="@{~/static/view}">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" th:href="@{~/logout}">Logout</a>
        </div>
    </div>






</nav>

<!-- Footer -->
<footer  th:fragment="footer">

    <div class="footer-spacer"></div>

    <nav class="navbar fixed-bottom navbar-light bg-light">
        <a class="navbar-brand" href="#">Created by Dane Miller (Faiyt Lee on Exodus)</a>
    </nav>

    <!--JS Files -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0-beta/js/bootstrap-select.min.js"></script>

    <script th:src="@{~/built/main.js}"></script>
</footer>




</body>
</html>