<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header">
    <meta charset="UTF-8" />
    <title>Index page</title>
</head>
<body>

<div th:replace="partials/layout :: navbar" />
<div class="h-100 main-container  mx-auto w-100 text-center">

    <div class="text-center"> <img th:src="@{~/img/error.png}"/> </div>

   Server done goofed. (500)

</div>

<div th:replace="partials/layout :: footer" />
<script src="https://secure.xivdb.com/tooltips.js"></script>
</body>
</html>