/* Main CSS file for page */


/* Alert Modal Center Display */
#alertModal .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
}

#alertModal .modal-content {
    padding: 0;
    margin:0;
}

#alertModal .alert {
    margin:0;
}



.footer-spacer {

    height: 85px;
}


/*
STATIC VIEW PAGE
*/


.player-card .job-img {
    position: relative;
    top: -40px;
    left: calc(-50% - 20px);
    z-index: 1;
}

.player-card .name {
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    left: 0px;
    border-radius: 3px;
    top: -84px;
    z-index: 0;
    padding: 5px;
    padding-left: 20px;
    width: calc(100% + 20px);
    margin: 0;
}

.card-body .prog-bar {
    position: relative;
    top: -44px;
    left: -10px;
    width: calc(100% + 20px);
    padding: 0;
    margin: 0;
}

.player-card .card-footer {
    z-index: 3;
}


/* STATIC MEMBER VIEW PAGE*/

.gear-item {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    border: 1px solid #000;


}