/* Main CSS file for page */

body {
    background-color: #232323;
    background: url("../img/bg.jpg");
    background-size: cover;
     background-position: 0px, 100px, 0, 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.vh-100 {
    height: calc(100vh - 200px) !important;
    display: flex;
    align-items: center

}


hr {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    border: 0;
    border-top: 1px solid rgba(0, 188, 140, 0.25);
    width: 95%;
}

.form-control {
    border: none;
    background-color: rgba(103, 103, 103, 0.45);
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
}

.form-control:hover {
    background-color: rgba(103, 103, 103, 0.7);
    border-radius: 2px;
    color: #fff;
}


.form-control:focus {
    background-color: rgba(103, 103, 103, 0.45);
    border-radius: 2px;
    border: 0;
    color: #fff;

}
/* Alert Modal Center Display */
#alertModal .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
}

#alertModal .modal-content {
    padding: 0;
    margin:0;
}

#alertModal .alert {
    margin:0;
}



.footer-spacer {
    height: 85px;
}


.card-container {
    background: #fff;
    color: #000;
    border-radius: 3px;

}

.card-container-dark {
    background: #0000009c;
    color: #fff;
    border-radius: 3px;
}

.card-container-light {
    background: #481e1ed6;
    color:  #fff;
    border-radius: 3px;

}

.card-container input
{
    color: #fff;
    background-color:  #16272dd1;
}

.card-container input:hover
{
    color: #fff;
    background-color: rgba(10, 15, 21, 0.82);
}

.card-container input:focus
{
    color: #fff;
    background-color: rgba(10, 15, 21, 0.82);
}
/*
Bootstrap Custom Themes
 */



.jumbotron {
   background-color: #292828b5;
    border-radius: 2px;
    padding-top: 30px;
}

/*
STATIC VIEW PAGE
*/

.delete-member {
    cursor: pointer;
}


.player-card .job-img {
    position: relative;
    top: -30px;
    left: calc(-50% - 20px);
    z-index: 1;
    width: 50px;
    height: 50px;
}

.player-card .name {
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    left: 0px;
    border-radius: 3px;
    top: -70px;
    z-index: 0;
    padding: 5px;
    padding-left: 20px;
    width: calc(100% + 20px);
    margin: 0;
}

.card-body .prog-bar {
    position: relative;
    top: -44px;
    left: -10px;
    width: calc(100% + 20px);
    padding: 0;
    margin: 0;
}

.player-card .card-footer {
    z-index: 3;
}

.edit-toggle {
    position: relative;
    color: grey;
    cursor: pointer;
    float: right;
    left: calc(100% - 10px);
    font-size: 20px;
    top: -35px;
    height: 25px;
}

.delete-btn {
    position: relative;
    color: #fff;
    top: -100px;
    cursor: pointer;
    width: 20px;
    left: calc(100% - 5px);

}

.job-display {
    position: relative;
    float: left;
    left: -10px;
    top: -10px;
    width: 100%;
    height: 3px;

}

.job-text {
    position: relative;
    float: left;
    font-size: 10px;
    padding: 0;
    margin: 0;
    left: -13px;
    top: -22px;
}


/**
HOME PAGE
*/

#header-img {
 background: url("../img/header.jpg");
    width: calc(100% - 15px);
    height: 125px;

    background-size: cover;
    border-radius: 3px;
}

/* STATIC CREATE PAGE */
.delete-member {
    position: relative;
    display: block;
    left: calc(90% - 1px);
    bottom: calc(100% - 39px);
    color: #fff;
    width: 16px;
    border: 1px solid #fff;
    background-color: #4a2020;
    border-radius: 22px;
    font-size: 10px;

}

.member-name
{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.img-control-center {
    width: 35px;
    height: 40px;
}

/* STATIC MEMBER VIEW PAGE*/

.gear-item {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    border: 1px solid #000;

}



.table {
 background-color: rgba(0,0,0,0.45);
    border-collapse:collapse;
    border-radius:6px;
    -moz-border-radius:6px;
    border: 0;

}



.table thead {
    border-bottom: 1px solid #404040;

}


.table thead th {
    vertical-align: bottom;
    border-bottom: 0px solid #444;
}

.table tbody tr:nth-child(even) {background: rgba(0,0,0,0.35);}
.table tbody tr:nth-child(odd) {background: rgba(0,0,0,0.55);}

.table th {
    border:0;
}

.table tr {
    border:0;
}
.table td {
    border: 0;
    vertical-align: center;
}



/* LOADER CSS STYLINGs */

.loader-img img {
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    transform: 	translateY(-50%);
}

.loader-img[data-id="0"] {
    margin: auto;
    opacity:    0.5;
    background: #000;
    width:      100%;
    height:     100%;
    z-index:    10;
    top:        0;
    left:       0;
    position:   fixed;
}


/*
SEARCH GEAR PAGES
*/


.img-icon-small {
    height: 30px;
    width: 30px;
}


.modal-content {
    background-color: #303030f0;
}

.table-modal {
    margin-top: 10px;
    height: 50vh;
    overflow-y: scroll;
    padding-right: 5px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
}


.table-modal::-webkit-scrollbar {
    width: 6px;  /* remove scrollbar space */
    /*background: transparent;  !* optional: just make scrollbar invisible *!*/
}

.table-modal::-webkit-scrollbar-track {
    background-color: transparent;
}

.table-modal::-webkit-scrollbar-thumb        {

    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    padding-top: 5px;
    /* 5 */

}

#add-member-modal #member-list-main {
    position: relative;
    top: -100%;

}

#add-member-modal #member-list img {
    display: none;
}


/*
MATERIA ICONS
*/

.round-button {
    width:24px;
    height:18px;
    padding: 0;
    float: left;
    margin-right: 5px;
}
.round-button-circle {
    width: 85%;
    height:0;
    padding-bottom: 60%;
    border-radius: 50%;
    border:3px solid #bcbcbca1;
    overflow:hidden;
    background: #4679BD;
    background: radial-gradient(circle at 7px 7px, #b0ccff, #4679BD);
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
    background: radial-gradient(circle at 7px 7px, #7b90b3, #4679BD);
}

.red-materia {
    background: radial-gradient(circle at 7px 7px, #ff7f7fe3, #880c0cd9);
}

.red-materia:hover {
    background: radial-gradient(circle at 7px 7px, rgba(173, 95, 95, 0.89), #880c0cd9);
}

.purple-materia {
    background: radial-gradient(circle at 7px 7px, #ff9efc, #7A3897);
}
.purple-materia:hover {
    background: radial-gradient(circle at 7px 7px, #ff9efca1, #7A3897);
}

.yellow-materia {
    background: radial-gradient(circle at 7px 7px, #fff941, #b1ab2d);
}

.yellow-materia:hover {
    background: radial-gradient(circle at 7px 7px, #efef96a6, #74700f);
}

.empty-materia {
    background: radial-gradient(circle at 7px 7px, #222, #908c858a);
}
.empty-materia:hover {
    background: radial-gradient(circle at 7px 7px, #868686a3, #03020194);
}