<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header">
    <meta charset="UTF-8" />
    <title>Index page</title>
</head>
<body>

<div th:replace="partials/layout :: navbar" />
<div class="h-100 main-container  mx-auto  text-center p-2 m-2">





    <div class="row">

        <div class="col-12 col-md-9 col-sm-8 text-left">

            <div sec:authorize="isAuthenticated()">
                Welcome <span th:text="${#authentication.principal.username}"/>!
            </div>


            <div>
                <div>
                    What is this site all about?

                </div>
            </div>

        </div>

        <div class="col-12 col-md-3 col-sm-4">
            <h3>Menu thing</h3>
            <div class="list-group">
            <a th:href="@{/player}" class="list-group-item">Players</a>
            <a th:href="@{/static/view}" class="list-group-item">Static View</a>
            <a th:href="@{/static/create}" class="list-group-item">Static Create</a>
            <a th:href="@{/gear}" class="list-group-item">Gear</a>
            <a th:href="@{/jobs}" class="list-group-item">Jobs</a>
            <a th:href="@{/login}" class="list-group-item">Login</a>
            <a th:href="@{/logout}"class="list-group-item" >Logout</a>
            <a href="http://xivdb.com/item/13770/Falconer's+Boots" class="list-group-item">
                Falconer's Boots</a><br>

        </div>
        </div>

    </div>




</div>

<div th:replace="partials/layout :: footer" />
<script src="https://secure.xivdb.com/tooltips.js"></script>
</body>
</html>