<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header">
    <meta charset="UTF-8" />
    <title>Index page</title>
</head>
<body>

<div th:replace="partials/layout :: navbar" />

<div class="h-100 container  mx-auto">

    <div class="row pt-3 ml-4">
       <div>
           <h3>Recently Added BIS</h3>
       </div>
        <div class="ml-auto text-right">
            <a th:href="@{/bis/importer}" class="btn btn-sm btn-primary">Import BIS!</a>
        </div>


    </div>


    <div class="d-flex flex-row flex-wrap p-2 m-2">

    <th:block th:each="job : ${jobs}">

        <th:block th:if="${job.isJob()}">

        <div class="col-12 col-lg-4 col-sm-12 col-md-6 p-3">


            <table class="table table-hover bis-job-table-header">
                <thead>
                <tr class="top">
                    <th colspan="4" class="text-left">
                        <img  th:src="${job.getImg()}" class="bis-job-img" />
                        <span th:text="${job.name}" class="pl-4"></span></th>
                </tr>
                <tr class="text-left">
                    <th scope="col">Name</th>
                    <th scope="col">Users</th>
                    <th scope="col" colspan="2" class="d-none d-sm-table-cell">Avg. iLvl</th>
                </tr>
                </thead>
            </table>

                <div class="bis-job-table">
                <table  class="table table-hover mb-0">
                <tbody>

                <th:block th:each="item : ${bis}">
                <th:block th:if="${job.id == item.getJob().getId()}">

                    <tr>
                        <td th:text="${item.name}"></td>
                        <td>44</td>
                        <td class="d-none d-sm-table-cell">355</td>
                        <td class="text-right"><a th:href="@{/bis/view/} + ${item.id}" class="btn btn-sm btn-secondary">View</a> </td>
                    </tr>

                </th:block>
                </th:block>

                <tr><td colspan="4">
                    <div class="text-center"><span class="text-muted"> &nbsp;</span></div>
                </tbody>
                </td></tr>
            </table>
                </div>


        </div>

        </th:block>


    </th:block>


    </div>



</div>

<div th:replace="partials/layout :: footer" />
<script th:src="@{~/built/main.js}"></script>
</body>
</html>