<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header">
    <meta charset="UTF-8" />
    <title>Index page</title>
</head>
<body>

<div th:replace="partials/layout :: navbar" />
<div class="h-100 main-container  mx-auto w-100 text-center">

    <form method="post" th:object="${statTypes}" name="type-form" th:fragment="statType-add">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"   class="alert alert-danger" role="alert" />
        <label th:for="*{name}">Gear Stat Type Name:</label>
        <input th:field="*{name}" class="form-control">
        <input type="submit" name="submit-stat-type" id="submit-stat-type" class="btn btn-primary m-1 p-1"/>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>

</div>

<div th:replace="partials/layout :: footer" />
<script th:src="@{~/built/main.js}"></script>
</body>
</html>