<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header">
    <meta charset="UTF-8" />
    <title>Index page</title>
</head>
<body>

<div th:replace="partials/layout :: navbar" />
<div class="h-100 main-container  mx-auto w-100 text-center">
    <div class="container">
        <!-- Static Header -->
        <div class="row">

           <div class="col-12">

                   <h2 th:text="${static?.name}" class="text-left p-2 m-2"></h2>

               </div>

            <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img th:src="@{~/img/quest/second-quest.png}" class="mr-2 img-control-center"/>
                    Static Control Center</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Main <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Gear Order Sheet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Track Drops</a>
                        </li>
                    </ul>
                    <span class="navbar-text">

                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-secondary">Settings</button>
                          <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/static/delete}">Delete Static</a>
                          </div>
                        </div>
                </span>
                            </div>
                        </nav>
            </div>


            <div class="col-12 p-2 m-2">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 44%"></div>
            </div>
            </div>
        </div>

        <!--Static Member View -->
        <div class="row p-3 m-2">
            <div class="row">

                <th:block th:each="member : ${members}">

                    <div class="col-12 col-md-6 col-lg-3 mb-5 static-member" th:data-id="${member?.getId()}">

                        <div class="card player-card ml-3">
                            <img class="card-img-top img-fluid" th:src="${member?.getPlayer()?.getPortrait()}" th:alt="${member?.getPlayer()?.getName()}">

                            <div class="card-img-overlay">
                                <!--<img th:src="${member?.getAssignedJob()?.getIcon()}"  class="job-img" th:data-id="${member?.getId()}">-->

                                <img th:src="${(member?.getAssignedJob()?.getIcon() != null && !#strings.isEmpty(member?.getAssignedJob()?.getIcon())) ? member.getAssignedJob().getIcon() :
                                 'https://img.finalfantasyxiv.com/lds/promo/h/R/laSrEkvlK_7NNbNZ3JErTqzaR8.png'}" class="job-img" th:data-id="${member?.getId()}"/>

                                <div class="text-left name" th:text="${member?.getPlayer()?.getName()}">Faiyt Lee</div>
                                <div class="delete-btn" th:data-id="${member?.getId()}">&times;</div>

                            </div>
                            <div class="card-body text-left">
                                <div class="progress prog-bar">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 44%"></div>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="text-muted job-text">Job:</span>
                                            <div class="job-display">
                                                <span th:text="${member?.assignedJob?.name}"></span>
                                            </div>
                                        <i th:data-id="${member?.getId()}" class="edit-toggle material-icons">
                                            edit
                                        </i>
                                    </li>
                                    <li class="list-group-item">BIS: War DH/Crit (<a href="#">edit</a>)</li>
                                </ul>

                            </div>
                            <div class="card-footer text-muted">
                                <a th:href="@{/static/view/} + ${member?.getId()}" class="btn btn-sm btn-primary">View Gear</a>
                                <a href="#" class="btn btn-sm btn-secondary">Sync Gear</a>
                            </div>
                        </div>
                    </div>

                </th:block>

                <th:block th:if="${#lists.size(members)} &lt; 8">

                    <div class="col-12 col-md-6 col-lg-3 mb-5 static-member mx-auto mv-auto">
                         <button class="btn btn-primary">Add more members? </button>
                    </div>

                </th:block>

        </div>

    </div>


        <div th:replace="partials/static/quickAdd :: add"/>

</div>
<div th:replace="partials/layout :: footer" />
    <script src="https://secure.xivdb.com/tooltips.js"></script>
<script th:src="@{~/built/static.js}"></script>

</body>
</html>