<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header">
    <meta charset="UTF-8" />
    <title>Index page</title>
</head>
<body>


<span class="overlay"></span>
<div th:replace="partials/layout :: navbar" />



<div class="h-100 main-container  mx-auto w-100 text-left">

    <div class="row">
    <span class="overlay"></span>
    <div class="member-menu-avatar">
        <div class="sticky-parent">
            <a href="#" class="toggle-panel">
             <img th:src="${member.getPlayer().getAvatar()}" class="member-img-avatar">
                <i class="fas fa-chevron-circle-right member-show-btn"></i>
            </a>
        </div>
    </div>
        <div class="d-flex flex-row p-2">
            <div>
                <img th:src="${(member?.getAssignedJob()?.getImg() != null && !#strings.isEmpty(member?.getAssignedJob()?.getImg())) ?  member.getAssignedJob().getImg() :
                                 'https://img.finalfantasyxiv.com/lds/promo/h/R/laSrEkvlK_7NNbNZ3JErTqzaR8.png'}" class="job-img-mini m-1" th:data-id="${member?.getId()}"/>
            </div>
                <div class="align-self-bottom">
                <h3 class="text-left mb-0" th:text="${member?.getPlayer()?.getName()}">Faiyt Lee</h3>
            </div>
        </div>
    </div>


    <div id="panel-member">

        <div class="card player-card m-3 ">
            <img class="card-img-top img-fluid" th:src="${member?.getPlayer()?.getPortrait()}" th:alt="${member?.getPlayer()?.getName()}">

            <div class="card-img-overlay">
                <!--<img th:src="${member?.getAssignedJob()?.getIcon()}"  class="job-img" th:data-id="${member?.getId()}">-->

                <img th:src="${(member?.getAssignedJob()?.getImg() != null && !#strings.isEmpty(member?.getAssignedJob()?.getImg())) ?  member.getAssignedJob().getImg() :
                                 'https://img.finalfantasyxiv.com/lds/promo/h/R/laSrEkvlK_7NNbNZ3JErTqzaR8.png'}" class="job-img" th:data-id="${member?.getId()}"/>

                <div class="text-left name" th:text="${member?.getPlayer()?.getName()}">Faiyt Lee</div>
                <div class="hide-btn" th:data-id="${member?.getId()}"></div>

            </div>
            <div class="card-body text-left pl-0 pr-0">
                <div class="progress prog-bar">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 44%"></div>
                </div>

                <div class="col-12">
                    <div class="row">
                        <span class="text-muted job-text">Job:</span>
                        <div class="job-display">
                            <span class="job-display-text" th:text="${member?.assignedJob?.name}"></span>
                        </div>
                        <i th:data-id="${member?.getId()}" class="edit-toggle material-icons">
                            edit
                        </i>
                    </div>
                    <div class="row w-100 ml-0 mr-0 pr-0">

                        <ul class="list-group static-list">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="text-left"><span class="bis-text text-muted">BIS:</span>
                                        <span class="bis-name " th:data-member-id="${member.id}" th:text="${member.assignedBIS?.name}">DH/Crit</span></div>
                                    <div class="text-right ml-auto">
                                        <button type="button" class="btn btn-sm btn-secondary bis-edit"
                                                th:data-member-id="${member.id}" th:data-job-id="${member?.assignedJob?.id}"
                                        >Change</button>

                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
            <div class="card-footer text-muted">
                <a th:href="@{/static/view/} + ${member?.getId()}" class="btn btn-sm btn-primary">View Gear</a>
                <a href="#" class="btn btn-sm btn-secondary member-gear-sync" th:data-id="${member.getId()}">Sync Gear</a>
            </div>
        </div>

    </div>





    <div class="container">
        <!-- Static Header -->





        <div class="row">

        <div class="col-12 col-lg-12 col-md-12">
            <div class="d-flex flew-row card-container-dark p-0 m-2">


                    <div class="w-100 p-0 m-2 text-left">
                        <span class="bis-progress-text">Progress: (<span id="gear-matched-count"></span>/<span id="gear-total-count"></span> gear) <span id="gear-percent"></span> %

                        <div class="progress">
                             <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
                          </div>
                    </div>
            </div>

            <div class="row text-left">

                <div class="col-12 card-container-dark p-2 m-2">

                    <div class="row">
                    <!--Gear Table -->
                    <div class="col-12 col-md-6 table-responsive">
                    <table class="table table-hover" id="gear-current">
                        <thead>
                        <tr class="top">
                            <th colspan="3" class="text-left">Current Gear...</th>
                        </tr>
                        <tr class="text-left">
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col" class="d-none d-lg-table-cell">iLvl</th>
                            <th>Melds</th>
                        </tr>
                        </thead>
                        <tbody>

                        <th:block th:if="${member.assignedGear.gears == null}">
                            <tr>
                                <td colspan="4" class="text-center">
                                    Sync a valid gear set for the selected job  to
                                    view current gear.
                                </td>
                            </tr>
                        </th:block>


                        <th:block th:if="${member.assignedGear.gears != null}">

                    <th:block  th:each="gear : ${member?.getAssignedGear()?.getGears()}">
                        <!--CURRENT SLOT LIST -->
                      <th:block th:if="${!#strings.containsIgnoreCase(gear.getGear().name,'Soul of the')}">
                        <tr th:data-id="${gear.getGear().id}"  class="gear-slot">
                            <td>  <img th:src="${gear.getGear().slot.slot.getIcon()}" class="img-slot-icon" /> </td>
                            <td class="gear-name">&nbsp;  <a th:href="@{https://xivdb.com/item/} + ${gear.getGear().originalId}" th:text="${gear.getGear().name}"></a>  </td>

                            <td class="d-none d-lg-table-cell">  <span th:text="${gear.getGear().iLvl}"></span> </td>

                            <!-- MELDS --->
                            <td>
                                <div class="d-flex flew-row ">
                                    <th:block th:each="meld : ${gear.getMelds()}">
                                        <div class="round-button" data-container="body" data-trigger="hover" data-toggle="popover"
                                             data-placement="top" th:title="${meld.name}" th:data-content="${meld.itemStat?.statType?.name} + ' +' + ${meld.itemStat?.value}">
                                            <div th:class="@{round-button-circle } + ' ' + ${meld.color} + @{-materia}"></div>
                                        </div>
                                    </th:block>
                                    <!--END MATERIA MELDS-->
                                </div>
                            </td>

                        </tr>
                      </th:block>
                        <!--AVOID SOULS-->
                    </th:block>
                            <!--GEAR LOOP-->
                        </th:block>
                        <!--IF NOT NULL-->

                    <tr>
                        <td colspan="4">
                        <div class="text-center"><span class="text-muted">Gear outdated you can grab from lodestone? &nbsp;</span>
                            <a href="#" class="btn btn-sm btn-primary member-gear-sync" th:data-id="${member.getId()}">Sync Gear</a>
                        </div>
                        </td>
                    </tr>
                   </tbody>

                    </table>
                    </div>


                        <!-- BIS -->
                    <div class="col-12 col-md-6 table-responsive">
                        <table class="table table-hover" id="gear-bis">
                            <thead>
                            <tr class="top">
                                <th colspan="3" class="text-left">
                                    <div class="row m-0 p-0">
                                    <div class="text-left col-4 m-0 p-0"><span class="pr-1">BIS Gear...</span></div>
                                      <div class="text-right ml-auto m-0 p-0">

                                      </div>
                                    </div> </th>
                            </tr>
                            <tr class="text-left">
                                <!--<th scope="col"></th>-->
                                <th scope="col">Name</th>
                                <th scope="col" class="d-none d-lg-table-cell">iLvl</th>
                                <th scope="col">Melds</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--BIS SLOT LIST -->

                            <th:block th:if="${member?.getAssignedBIS()?.getMelded() == null}">
                                <tr>
                                    <td colspan="4" class="text-center">
                                        Select a BIS to view BIS Gear List
                                    </td>
                                </tr>
                            </th:block>


                            <th:block th:if="${member?.getAssignedBIS()?.getMelded() != null}">

                                <th:block th:each="melded : ${member.getAssignedBIS().getMelded()}">

                                    <tr th:data-id="${melded.getGear().id}" class="gear-slot" >
                                        <!--<td>  <img th:src="${melded.getGear().slot.slot.getIcon()}" /> </td>-->
                                        <td>   <a th:href="@{https://xivdb.com/item/} + ${melded.getGear().originalId}"
                                                  th:text="${melded.getGear().name}"></a> </td>
                                        <td class="d-none d-lg-table-cell">  <span th:text="${melded.getGear().iLvl}"></span> </td>


                                        <!-- MELDS --->
                                        <td >
                                            <div class="d-flex flew-row ">
                                            <th:block th:each="meld : ${melded.melds}">
                                                <div class="round-button" data-container="body" data-trigger="hover" data-toggle="popover"
                                                     data-placement="top" th:title="${meld.name}" th:data-content="${meld.itemStat?.statType?.name} + ' +' + ${meld.itemStat?.value}">
                                                    <div th:class="@{round-button-circle } + ' ' + ${meld.color} + @{-materia}"></div>
                                                </div>
                                            </th:block>
                                            </div>
                                        </td>
                                    </tr>

                                </th:block>

                            </th:block>

                            <tr><td colspan="4">
                                (<span th:text="${member.getAssignedJob().abbr} + ' ' "></span><span th:text="${member.getAssignedBIS().name}"></span>)
                                <button class="btn btn-sm btn-secondary">Change BIS</button>

                            </tbody>
                            </td></tr>
                        </table>
                    </div>

                    </div>
                </div>
            </div>
        </div>
        </div>

        </div>
</div>
    <div th:replace="partials/static/quickAdd :: bis-update"/>


    </div>
    <div th:replace="partials/layout :: footer" />
    <script src="https://secure.xivdb.com/tooltips.js"></script>
    <script th:src="@{~/built/static.js}"></script>
</body>
</html>